/* src/assets/theme.css */

.theme-light {
  background-color: white;
  color: black;
}

.theme-dark {
  background-color: #1e1e1e;
  color: white;
}

.theme-dark .box:not(.no-theme) {
 background-color: white;
  color: black;
}

.btn {
  padding: 6px 12px;
  margin: 10px;
  cursor: pointer;
}
